[user]

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	editor = vim
